{{define "bodyClass"}} 
{{ path.Dir .Page.FirstSection.File.Path }} page 
{{end}}

{{define "body"}}
<div id="content">
  <main>
    {{$img := .Resources.GetMatch "cover.*"}}
    {{ if $img }}
    <img alt="{{.Title}}" width="1920" height="400" loading="lazy" src="{{($img.Fill "1920x400").Permalink}}">
    {{ end }}
    {{with .Title}}
      <h1>
        {{.}}
      </h1>
    {{end}}
    {{if .Param "toc"}}
      <h2>Table of Contents</h2>
      {{.TableOfContents}}
    {{end}}
    <div class="content">
      {{.Content}}
    </div>
  </main>
  <aside>
    <section> 
      <h2>Information</h2> 
      <p>{{.Summary}}</p>
    </section>
    <section>
      <h2>Reading time</h2>
      <p>{{.ReadingTime}} min.</p> 
    </section>
    <section>
      <h2>Word Count</h2>
      <p>≈ {{.FuzzyWordCount}}</p> 
    </section>
    {{with .Params.tags}}
    <section>
      <h2>Tags</h2> 
      {{range .}} 
        <p>
          <a href="{{"/tags/" | relLangURL}}{{. | urlize}}"> 
            {{. | humanize}}
          </a> 
        </p>
      {{end}}
    </section>
    {{end}}
  </aside>
</div>
{{end}}
