{{define "bodyClass"}} 
{{ path.Dir .Page.FirstSection.File.Path }} page 
{{end}}

{{define "body"}}
<div id="content">
  <main>
    {{$img := .Resources.GetMatch "cover.*"}}
    {{ if $img }}
    <img alt="{{.Title}}" width="1920" height="400" loading="lazy" src="{{($img.Fill "1920x400").Permalink}}">
    {{ end }}
    {{with .Title}}
      <h1>
        {{.}}
      </h1>
    {{end}}
    {{if .Param "toc"}}
      <h2>Table of Contents</h2>
      {{.TableOfContents}}
    {{end}}
    <div class="content">
      {{.Content}}
    </div>
  </main>
  <aside>
    <section> 
      <h2>{{i18n "info"}}</h2> 
      <p>{{.Summary}}</p>
    </section>
    <section>
      <h2>{{i18n "readTime"}}</h2>
      <p>{{.ReadingTime}} min.</p> 
    </section>
    <section>
      <h2>{{i18n "wordCount"}}</h2>
      <p>≈ {{.FuzzyWordCount}}</p> 
    </section>
    {{with .Params.tags}}
    <section>
      <h2>{{i18n "tags"}}</h2> 
      {{range .}} 
        <p>
          <a href="{{"/tags/" | relLangURL}}{{. | urlize}}"> 
            {{. | humanize}}
          </a> 
        </p>
      {{end}}
    </section>
    {{end}}
  </aside>
</div>
{{with site.RegularPages.Related .}}
<div id="related">
  <h2>{{i18n "related"}}</h2>
  <ul class="posts">
    {{range first 5 .}}
     {{.Render "card"}}
    {{end}}
  </ul>
</div>
{{end}}
{{ partial "comment.html" (dict 
  "FormspreeCommentForm" ($.Param "FormspreeCommentForm")
  "RelPermalink" .Page.RelPermalink 
  "Disabled" ($.Param "CommentDisabled")
) }}
{{end}}
