.dark:root {
  --background-color-rgb: 35, 35, 37;
  --text-color-rgb: 255, 240, 230;
  --heading-color: rgb(226, 217, 211);
  --shade-color: rgb(20, 20, 20);
  --text-color:rgb(185, 178, 167);
  --hover-color: rgb(220, 210, 200);
}
