<!DOCTYPE html>
<html>

<head>
  {{ $css := resources.Match "*.css.tpl" | resources.Concat "index.css" | resources.ExecuteAsTemplate "index.css" . | resources.Minify }}
  <link rel="stylesheet" type="text/css" href="{{$css.Permalink}}">
  {{with (default site.Title .Page.Title)}}<title>{{.}}</title>{{end}}
  {{with .Page.Description}}
  <meta name="description" content="{{.}}" />{{end}}
  {{$netlify := "false"}}
  {{if getenv "NETLIFY" }}
  {{ $netlify = "true" }}
  {{end}}
  {{ $defines := dict "REMOVE_FORM_ON_SUBMISSION" (default "false" (site.Param "RemoveFormOnSubmission")) "BASE_URL" (print "\"" site.BaseURL "\"" ) "NETLIFY" $netlify}}
  {{ $js := resources.Get "index.js" | js.Build (dict "defines" $defines "minify" (not site.IsServer))}}
<script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
</head>

<body class="{{block "bodyClass" .}}page{{end}}">
  {{block "header" .}}
  {{ partialCached "header.html" (dict "cart" false) "false" }}
  {{ end }}
  {{block "body" .}}
    <section>
      <main>
        {{with .Page.Title}}<h1>{{.}}</h1>{{end}}
        {{if .Param "toc"}}
        <h2>Table of Contents</h2>
        {{.TableOfContents}}
        {{end}}
        {{.Content}}
        {{ partial "comment.html" (dict "FormspreeCommentForm" ($.Param "FormspreeCommentForm") "RelPermalink" .Page.RelPermalink "Disabled" ($.Param "CommentDisabled")) }}
      </main>
    </section>
  {{end}}
  {{if site.IsServer}}
    {{- partial "debug/debug.html" (dict "context" .) -}}
  {{end}}
  {{block "footer" .}}
  <footer>
    {{ partialCached "menu.html" (dict "Menu" site.Menus.footer  "RenderSubmenus" false) "footer" "false"}}
    <br>
    {{.Param "copyright" | markdownify}}
  </footer>
  {{ end }}
{{ partialCached "jslibs/instantpage/script-src.html" "-" }}
</body>

</html>
