{{define "bodyClass"}}contact page{{end}}
{{define "body"}}
<main>
  {{$img := .Resources.GetMatch "cover.*"}}
  {{ if $img }}
  <img alt="{{.Title}}" width="1920" height="400" loading="lazy" src="{{($img.Fill "1920x400 Center").Permalink}}">
  {{ end }}
  {{with .Title}}
    <h1>
      {{.}}
    </h1>
  {{end}}

  <div class="contact-box">
    <div class="content">
      {{.Content}}
    </div>
    <template id="contact-success">
      <div class="success">
      {{default "Thank you for contacting us. You will hear from us soon." ($.Param "contact-success")}}
    </div>
    </template>
    <template id="contact-error">
      <div class="error">
        {{default "We are facing an issue submitting the contact form. Please try again later." ($.Param "contact-error")}}
      </div>
    </template>

    {{if getenv "NETLIFY" }}
      <form data-dynamic-form data-success="#contact-success" data-error="#contact-error" netlify="true" name="Contact">
    {{ else }}
      <form data-dynamic-form data-success="#contact-success" data-error="#contact-error" action="https://formspree.io/f/{{.Param "contact"}}" method="post">
    {{ end }}
          <div>
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            {{ if getenv "NETLIFY" }}
              id="email" name="email"
            {{ else }} 
              name="_replyto"
            {{ end }}
            type="email" required>
        </div>
        <div>
          <label for="message">Message:</label>
          <textarea id="message" name="message" cols="50" rows="10" required></textarea>
        </div>
        <div>
          <button type="submit">Send</button>
        </div>
    </form>
  </div>
</main>
{{end}}
