{{define "bodyClass"}}terms{{end}}

{{define "body"}}
<section>
  <main>
    <h1>{{.Title}}</h1>
  {{ range .Data.Terms.Alphabetical }}
    <details>
      <summary>
        <h3><a href="{{ .Page.Permalink }}">{{ .Page.Title | humanize }}<small>({{ .Count }})</small></a></h3>
      </summary>
    {{if gt .Count 0}}
    <ul>
      {{range .Page.Pages}}
        <li><a href="{{.Permalink}}">{{.Title}}</a></li>
      {{end}}
    </ul>
    {{end}}
    </details>
  {{ end }}
</main>
</section>
{{ end }}
