<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/index.css">
  {{with (default .Site.Title .Page.Title)}}<title>{{.}}</title>{{end}}
  {{with .Page.Description}}
  <meta name="description" content="{{.}}" />{{end}}
</head>

<body class="{{block "bodyClass" .}}page{{end}}">
  {{block "header" .}}
  <header>
    <a href="/"><img src="/image/logo.svg" width="60px"></a>
    {{ partialCached "menu.html" (dict "Menu" $.Site.Menus.main  "RenderSubmenus" true) }}
  </header>
  {{ end }}
  {{block "body" .}}
    <section>
      <main>
        {{with .Page.Title}}<h1>{{.}}</h1>{{end}}
        {{.Content}}
      </main>
    </section>
  {{end}}
  {{block "footer" .}}
  <footer>
    {{ partialCached "menu.html" (dict "Menu" $.Site.Menus.footer  "RenderSubmenus" false)}}
    <br>
    {{.Param "copyright" | markdownify}}
  </footer>
  {{ end }}
</body>

</html>
