{{define "bodyClass"}}home{{end}}
{{define "header"}}<!-- Empty Header -->{{end}}

{{define "body"}}
{{$title:= default .Site.Title .Page.Title}}
<section>
  {{ $hero := resources.GetMatch "image/hero.*" }}
  {{ $hero = $hero.Resize "1920x jpg q80 #000000" }}
  <img src="{{$hero.Permalink}}" class="hero">
  <main>
    {{ $logo := resources.GetMatch "image/logo.svg.tpl" | resources.ExecuteAsTemplate "logo.svg" . }}
    <img src="{{$logo.Permalink}}" width="60px">
    {{with $title}}<h1 class="intro">{{.}}</h1>{{end}}
    {{with .Param "subtitle"}}<h2>{{. | humanize | markdownify}}</h2>{{end}}
    {{.Content}}
    {{ partialCached "menu.html" (dict "Menu" $.Site.Menus.main  "RenderSubmenus" false) "main" "false"}}
  </main>
</section>
<section>
  {{/* Recent Blog Posts */}}
  <article>
    <h1> Recent Blog Posts</h1>
    <div class="posts">
      {{ range first 3 (where (where $.Site.RegularPages ".Section" "blog" ) ".Draft" false)}}
      <div class="post">
        <a href="{{.Permalink}}">{{default (.File.ContentBaseName | humanize | title) .Title}}</a>
        <summary>{{.Summary}}</summary>
      </div>
      {{end}}
    </div>
  </article>
</section>
{{with .Page.Params.testimonials}}
<section>
  <article>
    <h1>Our clients</h1>
    <div class="testimonials">
      <ol>
        {{range .}}
        <li>
          <details>
            <summary>
              <h3>{{.author | title}}</h3>
            </summary>
            <p>{{.content}}</p>
          </details>
        </li>
        {{end}}
      </ol>
      <small>Click each to see testimonials.</small>
    </div>
  </article>
</section>
{{end}}
<section>
  <article>
    <h1> Our Products</h1>
    <table>
      {{$products := resources.GetMatch "products.csv"}}
      {{$parsedProducts := $products | transform.Unmarshal (dict "delimiter" ",")}}
      {{ range $i, $value := $parsedProducts  }}
      {{if eq $i 0}}<thead>{{end}}
        <tr>
          {{range $value}}
          <td>{{ . }}</td>
          {{ end }}
        </tr>
        {{if eq $i 0}}</thead>{{end}}
      {{ end }}
    </table>
    <a href="{{$products.RelPermalink}}" download>Click here to download this listing.</a>
  </article>
</section>
{{ end }}
