<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Welcome to the website of Acme Corporation, the leading creator of digital shapes on the planet, providing precise shape creations that are ready to use.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css">
    <title>Acme Corporation</title>
  </head>
  <body class="home">
    <section>
      <img src="./image/logo.svg" alt="Acme Logo" width="64"/>
      <h1>Acme Corporation</h1>
      <h2>Shaping the world for you to live in</h2>
      <a href="./about">Explore</a>
    </section>
    <footer>
        <a href="./about">About Us</a>
        <a href="./privacy">Privacy Policy</a>
        <a href="./terms">Terms of Use</a>
        <a href="./contact">Contact Us</a>
    </footer>
  </body>
</html>
