{{ $color := site.Params.color | default "#4f46e5" }} 
{{ $b := substr $color -2 2 | print "0x" | int}}  
{{ $g := substr $color -4 2 | print "0x" | int}} 
{{ $r := substr $color -6 2 | print "0x" | int}}  

{{$r1 := sub (div ($r | float) 255) 1 | mul 100}} 
{{$g1 := sub (div ($g | float) 255) 1 | mul 100}}
{{$b1 := sub (div ($b | float) 255) 1 | mul 100}}


{{return ((resources.Get "image/favicon.png" |
images.Filter (images.Grayscale) (images.Contrast 100)
(images.Invert)
(images.ColorBalance $r1 $g1 $b1)
).Resize "128x #FFF").Permalink }}
