{{define "bodyClass"}}contact page{{end}}
{{define "body"}}
<main>
  {{$img := .Resources.GetMatch "cover.*"}}
  {{ if $img }}
  <img alt="{{.Title}}" width="1920" height="400" loading="lazy" src="{{($img.Fill "1920x400 Center").Permalink}}">
  {{ end }}
  {{with .Title}}
    <h1>
      {{.}}
    </h1>
  {{end}}

  <div class="contact-box">
    <div class="content">
      {{.Content}}
    </div>

    <form netlify="true" name="Contact">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" type="text" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input id="email" name="email" type="email" required>
        </div>
        <div>
          <label for="message">Message:</label>
          <textarea id="message" name="message" cols="50" rows="10" required></textarea>
        </div>
        <div>
          <button type="submit">Send</button>
        </div>
    </form>
  </div>
</main>
{{end}}
