{{define "bodyClass"}}store{{end}}

{{define "body"}}
{{$price := 0}}
{{$colors := ""}}
{{$rating := "0"}}

{{if .Page.Params.product}}
  {{$products := resources.GetMatch "products.csv"}}
  {{$parsedProducts := $products | transform.Unmarshal (dict "delimiter" ",")}}
  {{ range $r := $parsedProducts }}
    {{if eq (index $r 0) $.Page.Params.product }}
      {{$colors = index $r 1}}
      {{$price = index $r 2}}
      {{$rating = index $r 3}}
    {{ end }}
  {{ end }}
{{end}}
<section>
  <aside>
    <img src="{{with .Resources.GetMatch "hero.*"}}{{.RelPermalink}}{{end}}" alt="{{.Page.Title}}">
    {{if gt (len $colors) 0}}
    <select>
      {{range split $colors ","}}
        <option value="{{trim . " "}}">{{trim . " "}}</option>
      {{end}}
    </select>
    {{end}}
    <button data-price="{{$price}}" class="addToCart">Add to cart</button>
    <button data-price="{{$price}}" class="buyNow">Buy now</button>
  </aside>
  <main>
    <div class="content">
    {{with .Page.Title}}<h1>{{.}}</h1>{{end}}
    <div class="rating">
    {{range (seq $rating)}}
      &#9733;
    {{end}}
    {{range after $rating (seq 5)}}
      &#9734;
    {{end}}
    </div>
    <div class="price"> Price: <span class="value">{{ $price }}</span></div>
    {{.Content}}
    </div>
  </main>
</section>
<section>
  <main>
    {{ $related := (where (.Site.RegularPages.Related . ) "Section" .Section) | first 3 }}
    {{with $related}}
    <h2>Related Products</h2>
    {{range .}}
      <div class="card">
        <a href="{{.RelPermalink}}"><img class="card-img-top" src="{{ with (.Resources.GetMatch "hero.*")}}{{.RelPermalink}}{{end}}" alt="{{.Title}}"></a>
        <div class="card-body">
          <h5 class="card-title">{{.Title}}</h5>
          <p class="card-text">{{.Summary}}</p>
          <button>Add to cart</button>
        </div>
      </div>
    {{end}}
    {{end}}

        {{ partial "comment.html" (dict "FormspreeCommentForm" ($.Param "FormspreeCommentForm") "RelPermalink" .Page.RelPermalink "Disabled" ($.Param "CommentDisabled")) }}
  </main>
</section>
{{end}}
