{{define "bodyClass"}}store{{end}}

{{define "body"}}


{{$product := (dict "colors" "" "rating" 0 "price" 0)}}
{{if .Page.Params.product}}
  {{$product = (partialCached "product.html" "nothing").Get .Page.Params.product}}
{{end}}
<section>
  <aside>
    <img src="{{with .Resources.GetMatch "hero.*"}}{{.RelPermalink}}{{end}}" alt="{{.Page.Title}}">
    {{if gt (len $product.colors) 0}}
    <select>
      {{range split $product.colors ","}}
        <option value="{{trim . " "}}">{{trim . " "}}</option>
      {{end}}
    </select>
    {{end}}
    <button data-price="{{$product.price}}" class="addToCart">Add to cart</button>
    <button data-price="{{$product.price}}" class="buyNow">Buy now</button>
  </aside>
  <main>
    <div class="content">
    {{with .Page.Title}}<h1>{{.}}</h1>{{end}}
    <div class="rating">
    {{range (seq $product.rating)}}
      &#9733;
    {{end}}
    {{range after $product.rating (seq 5)}}
      &#9734;
    {{end}}
    </div>
    <div class="price"> Price: <span class="value">{{ $product.price }}</span></div>
    {{.Content}}
    </div>
  </main>
</section>
<section>
  <main>
    {{ $related := (where (.Site.RegularPages.Related . ) "Section" .Section) | first 3 }}
    {{with $related}}
      <h2>Related Products</h2>
      {{range .}}
        {{.Render "card"}}
      {{end}}
    {{end}}

        {{ partial "comment.html" (dict "FormspreeCommentForm" ($.Param "FormspreeCommentForm") "RelPermalink" .Page.RelPermalink "Disabled" ($.Param "CommentDisabled")) }}
  </main>
</section>
{{end}}
