<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {{with .Description}}<meta name="description" content="{{.}}">{{end}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css">
    {{$title := default site.Title .Title}}
    {{with $title}}<title>{{.}}</title>{{end}}
  </head>
  <body class="home">
    <section>
      <img src="./image/logo.svg" alt="Acme Logo" width="64"/>
      {{with $title}}<h1>{{.}}</h1>{{end}}
      {{with .Param "subtitle"}}<h2>{{. | humanize | markdownify}}</h2>{{end}}
      <a href="{{ref . (.Param "explore")}}">Explore</a>
    </section>
    <footer>
        <a href="./blog">Blog</a>
        <a href="./news">News</a>
        <a href="./about">About Us</a>
        <a href="./privacy">Privacy Policy</a>
        <a href="./terms">Terms of Use</a>
        <a href="./contact">Contact Us</a>
    </footer>
  </body>
</html>
