<div class="comments">
<h2> Comments </h2>
{{$comments := dict}}
{{if getenv "NETLIFY" }}
  {{$comments = partialCached "netlifyCommentList.html" .}}
{{else}}
  {{$comments = partialCached "formspreeCommentList.html" .}}
{{end}}

{{range (index $comments .RelPermalink)}}
<div class="comment">
  <img width="100" height="100" alt="{{.name}} Avatar" src="https://www.gravatar.com/avatar/{{ md5 .email }}?s=100&d=wavatar">
  <div class="author">{{.name}}</div>
  <div class="message">{{.message}}</div>
</div>
{{end}}
{{ if .Disabled  }}
  <div>
    {{i18n "commentDisabled"}}
  </div>
{{ else }}
<template id="comment-success">
  <div class="success">
    {{default (i18n "commentSuccess") (site.Param "comment-success")}}
  </div>
</template>
<template id="comment-error" >
  <div class="error">
    {{default (i18n "commentError") (site.Param "comment-error")}}
  </div>
</template>
<template id="comment-pre">
<div class="comment">
  <img width="100" height="100" alt="[[name]] Avatar" src="https://www.gravatar.com/avatar/[[emailhash]]?s=100&d=wavatar">
  <div class="author">[[name]]</div>
  <div class="message">[[message]]</div>
</div>
</template>


<form data-dynamic-form
data-pre="#comment-pre"
data-success="#comment-success"
data-error="#comment-error"
  {{if getenv "NETLIFY" }}
    netlify="true" name="Comments">
  {{ else }}
    action="https://formspree.io/f/{{.FormspreeCommentForm}}" method="post">
  {{ end }}
  <input type="hidden" name="url" value="{{.RelPermalink}}">
    <div>
      <label for="name">{{i18n "name"}}:</label>
      <input id="name" name="name" type="text" required>
    </div>
    <div>
      <label for="email">{{i18n "email"}}:</label>
      <input id="email" name="email" type="email" required>
    </div>
    <div>
      <label for="message">{{i18n "comment"}}:</label>
      <textarea id="message" name="message" cols="50" rows="10" required></textarea>
    </div>
    <div>
      <button type="submit">{{i18n "send"}}</button>
    </div>
  </form>
  {{end}}
</div>
