{{ if .Disabled  }}
<div>
  Comments have been disabled by the website administrator.
</div>
{{ else }}
<div class="comments">
<h3> Comments </h3>
{{$comments := dict}}
{{if getenv "NETLIFY" }}
  {{$comments = partialCached "netlifyCommentList.html" .}}
{{else}}
  {{$comments = partialCached "formspreeCommentList.html" .}}
{{end}}

{{range (index $comments .RelPermalink)}}
<div class="comment">
  {{(resources.Get "image/avatar.svg").Content | safeHTML}}
  <div class="author">{{.name}}</div>
  <div class="message">{{.message}}</div>
</div>
{{end}}

<template id="comment-pre">
<div class="comment">
  {{(resources.Get "image/avatar.svg").Content | safeHTML}}
  <div class="author">[[name]]</div>
  <div class="message">[[message]]</div>
</div>
</template>
<template id="comment-success">
<div class="success">
{{default "Your comment has been successfully submitted for moderation. It will be available on the website soon." (site.Param "comment-success")}}
</div>
</template>
<template id="comment-error">
<div class="error">
{{default "We are facing an issue submitting the comment. Please try again later." (site.Param "comment-error")}}
</div>
</template>
{{ if getenv "NETLIFY" }}
  <form data-dynamic-form data-success="#comment-success" data-error="#comment-error" data-pre="#comment-pre" netlify="true" name="Comments">
{{ else }}
  <form data-dynamic-form data-success="#comment-success" data-error="#comment-error" data-pre="#comment-pre" action="https://formspree.io/{{.FormspreeCommentForm}}" method="post">
{{ end }}
  <h3> Post a comment</h3>
  <input type="hidden" name="url" value="{{.RelPermalink}}">
  <div>
    <label for="name">Name:</label>
    <input name="name" type="text" required>
  </div>
  <div>
    <label for="message">Comment:</label>
    <textarea name="message" cols="50" rows="10" required></textarea>
  </div>
  <div>
    <button type="submit">Send</button>
  </div>
</form>
</div>
{{ end }}
