{{define "bodyClass"}} 
{{ path.Dir .Page.FirstSection.File.Path }} page 
{{end}}
{{define "body"}}
<main>
  {{$img := .Resources.GetMatch "cover.*"}}
  {{ if $img }}
  <img alt="{{.Title}}" width="1920" height="400" loading="lazy" src="{{($img.Fill "1920x400").Permalink}}">
  {{ end }}
  {{with .Title}}
    <h1>
      {{.}}
    </h1>
  {{end}}
  {{if .Param "toc"}}
    <h2>Table of Contents</h2>
    {{.TableOfContents}}
  {{end}}
  <div class="content">
    {{.Content}}
  </div>
</main>
{{end}}
