<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./index.css">
    {{$title:= default .Site.Title .Page.Title}}
    {{with $title}}<title>{{.}}</title>{{end}}
    {{with .Page.Description}}<meta name="description" content="{{.}}" />{{end}}
  </head>
  <body>
    <section>
      <main>
        <img src="./image/logo.svg" width="60px">
        {{with $title}}<h1 class="intro">{{.}}</h1>{{end}}
        {{with .Param "subtitle"}}<h2>{{. | humanize | markdownify}}</h2>{{end}}
        {{.Content}}
        {{ range $.Site.Menus.main }}
        <a href="{{.URL}}">{{.Name | humanize}}</a>
        {{end}}
      </main>
    </section>
    <footer>
      {{ range $.Site.Menus.footer }}
      <a href="{{.URL}}">{{.Name | humanize}}</a>
      {{ end }}
      <br>
      {{.Param "copyright" | markdownify}}
    </footer>
  </body>
</html>
