<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./index.css">
    {{if $.Page.Title}}<title>{{$.Page.Title}}</title>{{end}}
    {{if $.Page.Description}}<meta name="description" content="{{$.Page.Description}}" />{{end}}
  </head>
  <body>
    <section>
      <main>
        <img src="./image/logo.svg" width="60px">
        {{if $.Page.Title}}<h1 class="intro">{{$.Page.Title}}</h1>{{end}}
        {{if $.Page.Params.subtitle}}<h2>{{$.Page.Params.subtitle}}</h2>{{end}}
        <a href="./about">About Us</a>
        <a href="./privacy">Privacy Policy</a>
        <a href="./terms">Terms of Use</a>
        <a href="./contact">Contact Us</a>
      </main>
    </section>
  </body>
</html>
