{{/* layouts/survey/single.html */}}
{{define "bodyClass"}}survey{{end}}

{{ define "body" }}
<section>
  <main>
    <h2>{{.Title}}</h2>
{{.Content}}
<form name="{{.Title}}" netlify="true">
  <ol>
{{ range $index, $item := .Params.survey }}
  <li>
  <label for="question{{$index}}">{{$item.question}}</label>
  {{if $item.answer}}
    <select id="question{{$index}}" name="question{{$index}}" required>
      {{range $item.answer}}
        <option value="{{.}}" name="{{.}}">{{.}}</option>
      {{end}}
    </select>
  {{else}}
    <input id="question{{$index}}" name="question{{$index}}" type="text" required>
  {{end}}
  </li>
{{ end }}
</ol>
<button type="submit">Submit</button>
</form>
</main>
</section>
{{ end }}
