{{define "body"}}
{{$title := default site.Title .Title}}
  <header>
    <a href="{{ site.BaseURL | relLangURL }}">
    <img src="./image/logo.svg" alt="Acme Logo" 
             height="36" width="48" />
        Acme Corporation
    </a>
    {{with site.Menus.main }}
        <nav>
          <button class="hamburger">&#9776;</button>
          <ul>
            {{range .}}
              <li>
                <a href="{{.URL}}">{{.Name | humanize}}</a>
              </li>
            {{end}}
          </ul>
        </nav>
      {{end}}
    </header>
    <section id="intro">
      {{with $title}}<h1>{{.}}</h1>{{end}}
      {{with .Param "subtitle"}}<h2>{{. | humanize | markdownify}}</h2>{{end}}
      <a href="{{ref . (.Param "explore")}}">Explore</a>
    </section>
    {{with resources.GetMatch "products.csv"}}
    <section id="products">
      <h1>Our Products</h1>
      {{with . | transform.Unmarshal (dict "delimiter" ",")}}
        <table>
          {{range $i, $value := .}}
            {{if eq $i 0}}<thead>{{end}}
              <tr>
                {{range $value}}
                <td>{{.}}</td>
                {{end}}
              </tr>
              {{if eq $i 0}}</thead>{{end}}
            {{end}}
        </table>
      {{end}}
      <a href="{{.Permalink}}" download>Download listing</a>
    </section>
    {{end}}
    <section id="description">
      {{.Content}}
    </section>
    {{with site.Menus.main }}
      <section id="menu">
      <h1>Website sections</h1>
        <h2>This website has these major areas</h2>
        <ul>
          {{ range . }}
          <li>
            <a href="{{.URL}}">
              <i class="icon-{{.Identifier}}"></i>
              {{.Name | humanize}}
            </a>
            {{with .Post}}<p>{{.}}</p>{{end}}
          </li>
          {{ else }}
          {{/* Log for the website editor/developer */}}
          <!-- No menu entries present -->
          {{end}}
        </ul>
      </section>
    {{end}}
    {{with 
      (where site.RegularPages 
      ".Section" "in" site.Params.mainSections)
    }} 
    <section id="blog">
        <h1>From our blog</h1>
        <ul class="posts">
          {{range first 3 .}}
          <li class="post">
            <a href="{{.Permalink}}">
              <h2>
                {{.Title}}
              </h2>
              <article>
                {{.Summary}} 
              </article>
              <div>Read More</div>
            </a>
          </li>
          {{end}}
        </ul>
    </section>
    {{end}}
    {{with .Param "testimonials"}}
    <section id="testimonials">
    <h1>Customer endorsement</h1>
    <div>
      <ol>
        {{range .}}
        <li>
            <p>{{.content}}</p>
            <div>
              <h2>{{.author}}</h2>
              <h3>{{.from}}</h3>
            </div>
        </li>
        {{end}}
      </ol>
    </div>
    </section>
    {{end}}
    <footer class="dark">
      {{with site.Menus.footer }}
      <nav>
        <ul>
        {{range .}}
        <li>
          <a href="{{.URL}}">{{.Name | humanize}}</a>
        </li>
        {{end}}
        </ul>
      </nav>
      {{end}}
      <ul>
        {{with site.Author.facebook}}
          <li>
            <a href="{{.}}" aria-label="Facebook">
              <i class="  icon-facebook"></i>
            </a>
          </li>
        {{end}}
        {{with site.Author.twitter}}
          <li>
            <a href="{{.}}" aria-label="Twitter">
              <i class="icon-twitter"></i>
            </a>
          </li>
        {{end}}
        {{with site.Author.email}}
          <li>
            <a href="mailto:{{.}}" aria-label="email">
              <i class="icon-email"></i>
            </a>
          </li>
        {{end}}
      </ul>
      <div>{{.Param "copyright" | markdownify}}</div>
  </footer>
{{ end }}
