{{define "bodyClass"}}page list{{end}}
{{define "body"}} 
<main>
  <h1>{{.Title | humanize}}</h1> 
  <center>{{.Content}}</center>
  {{$pages := .RegularPages}}
  {{range .Sections}}
    {{$pages = append $pages .RegularPages}}
  {{end}}
  {{$pages = sort $pages "Date" "desc" }}
  {{ $paginator := .Paginate $pages }}
  {{if and (eq $paginator.PageNumber 1)
            (gt (len .Sections) 0) }}
  <h2>Subsections</h2>
    <ul class="subsections">
    {{range .Sections}}
      {{partialCached "subsection" . .Permalink}}
    {{end}}
    </ul>
  <h2>Posts</h2>
  {{ end }}
  {{with $paginator.Pages}}
    <ul class="posts">
      {{ range .}}
        {{partialCached "card.html" . .Permalink}}
      {{ end }}
    </ul>
  {{end}}
{{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
</main>
{{end}}
